{% extends 'base.html.twig' %}

{% block body %}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Lion Buildings</a>
        <ul class="nav navbar-nav">
          {% if role == 'SuperAdmin' or role == 'Admin' %}
            <li><a href="{{ path('catalog') }}">Catalogs</a></li>
            <li class=""><a href="{{ path('installation') }}">Installation</a></li>
            <li><a href="{{ path('show_dashboard') }}">Dashboard</a></li>
            <li><a href="{{ path('show_sales') }}">Sales</a></li>
            <li><a href="{{ path('list') }}">Lists</a></li>
          {% endif %}
          {% if role == 'Viewer' %}
            <li class=""><a href="{{ path('installation') }}">Installation</a></li>
          {% endif %}
        </ul>
        <a class="btn btn-danger navbar-btn pull-right" href="{{ logout_path('main') }}">close sesion</a>  
      <span class="pull-right li-user glyphicon glyphicon-user"> {{ user }}</span>  
    </div>
  </nav>


{% endblock %}