{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}


{% block body %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="https://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            background: rgb(230,230,230);
            background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(163,163,163,1) 0%, rgba(255,255,255,1) 50%, rgba(147,147,147,1) 100%);
        }
        .panel-default > .panel-heading-lightgreen {
                background: rgb(215, 215, 100);
                color: #fff;
            }
        .panel-default > .panel-heading-red {
                background: #E74C3C; 
                color: #fff;
        }
        .panel-default > .panel-heading-green {
            background: green;
            color: #fff;
        }
        .panel-default > .panel-heading-lightgreen {
            background: rgb(215, 215, 100);
            color: #fff;
        }
        .panel-default > .panel-heading-lightblue {
            background: rgb(0, 170, 239);
            color: #fff;
        }
        .panel-default > .panel-heading-purple {
            background-color: #8E44AD;
            color: #fff;
        }
        .panel-default > .panel-heading-blue {
            background: rgb(0, 57, 230);
            color: #fff;
        }            
        .panel-default > .panel-heading-yellow {
            background: rgb(228, 191, 9);
            color: #fff;
        }
        .panel-default > .panel-heading-orange {
            background: rgb(255, 165, 0);
            color: #fff;
        }
        .panel-default > .panel-heading-brown {
            background: rgb(189,88, 66);
            color: #fff;
        }
        .panel-default > .panel-heading-red2 {
            background: rgb(160, 0, 0);
            color: #fff;
        }
        .panel-default > .panel-heading-yellow {
            background-color: #F1C40F;
            color: #fff;
        }
        .panel-default > .panel-heading-gray {
            background-color: gray;
            color: #fff;
        }
        .panel-default > .panel-heading-coral {
            background-color: coral;
            color: #fff;
        }
        .btn-warning {
            background-color: gray !important;
            border-color: black !important;
        }
        #missingConfirmation {
            opacity: 1;
            transition: opacity 1s;
        }

        #missingConfirmation.hide {
            opacity: 0;
        }

        #nullManufacturer {
            opacity: 1;
            transition: opacity 1s;
        }

        #nullManufacturer.hide {
            opacity: 0;
        }

        #stpeNoOrdered {
            opacity: 1;
            transition: opacity 1s;
        }

        #stpeNoOrdered.hide {
            opacity: 0;
        }

        #hotPending {
            opacity: 1;
            transition: opacity 1s;
        }

        #hotPending.hide {
            opacity: 0;
        }

        #siteSpecifics {
            opacity: 1;
            transition: opacity 1s;
        }

        #siteSpecifics.hide {
            opacity: 0;
        }

        #nullDateInstallation {
            opacity: 1;
            transition: opacity 1s;
        }

        #nullDateInstallation.hide {
            opacity: 0;
        }

        #onHold {
            opacity: 1;
            transition: opacity 1s;
        }

        #onHold.hide {
            opacity: 0;
        }

        #pendingToInstall {
            opacity: 1;
            transition: opacity 1s;
        }

        #pendingToInstall.hide {
            opacity: 0;
        }
        
        .center-itm{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        
    </style>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">Lion Buildings</a>
            <ul class="nav navbar-nav">
            {% if role == 'SuperAdmin' or role == 'Admin' %}
                <li><a href="{{ path('catalog') }}">Catalogs</a></li>
                <li class=""><a href="{{ path('installation') }}">Installation</a></li>
            {% endif %}
            <li><a href="{{ path('list') }}">Lists</a></li>
            <li><a href="{{ path('show_dashboard') }}">Dashboard</a></li>
            </ul>
            <a class="btn btn-danger navbar-btn pull-right" href="{{ logout_path('main') }}">close sesion</a>  
        <span class="pull-right li-user glyphicon glyphicon-user"> {{ user }}</span>  
        </div>
    </nav>

    <div class="container ">
        <center><h1>Dashboard</h1></center>
        <div class="container bootstrap snippet">
            <div class="row">

                <div class="col-lg-2 col-sm-6" onclick="missingConfirmation()">
                    <div class="circle-tile ">
                        <div class="circle-tile-content blue">
                            <div class="circle-tile-description text-faded"> Missing Confirmation</div>
                            <div class="circle-tile-number text-faded ">{{ installation|length }}</div>
                            <a class="circle-tile-footer"  class="btn btn-info btn-lg" href="#">More Info<i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>
     
                <div class="col-lg-2 col-sm-6 " onclick="nullManufacturer()">
                    <div class="circle-tile ">
                        <div class="circle-tile-content orange">
                            <div class="circle-tile-description text-faded"> Orders not sent to manufacturer </div>
                            <div class="circle-tile-number text-faded ">{{ nullManufacturer|length }}</div>
                            <a class="circle-tile-footer"  class="btn btn-info btn-lg" href="#">More Info<i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>  

                <div class="col-lg-2 col-sm-6" onclick="siteSpecifics()">
                    <div class="circle-tile ">
                        <div class="circle-tile-content red">
                            <div class="circle-tile-description text-faded">Require sites specifics drawings? </div>
                            <div class="circle-tile-number text-faded ">{{ siteSpecifics|length }}</div>
                            <a class="circle-tile-footer"  class="btn btn-info btn-lg" href="#">More Info<i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>  

                <div class="col-lg-2 col-sm-6" onclick="stpeNoOrdered()">
                    <div class="circle-tile ">
                        <div class="circle-tile-content purple">
                            <div class="circle-tile-description text-faded"> Sites specific not ordered </div>
                            <div class="circle-tile-number text-faded ">{{ stpeNoOrdered|length }}</div>
                            <a class="circle-tile-footer"  class="btn btn-info btn-lg">More Info<i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div> 

                <div class="col-lg-2 col-sm-6" onclick="nullDateInstallation()">
                    <div class="circle-tile ">
                        <div class="circle-tile-content yellow">
                            <div class="circle-tile-description text-faded"> Customers without Installation Date </div>
                            <div class="circle-tile-number text-faded ">{{ nullDateInstallation|length }}</div>
                            <a class="circle-tile-footer"  class="btn btn-info btn-lg">More Info<i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6" onclick="hd1()">
                    <div class="circle-tile ">
                        <div class="circle-tile-content green">
                            <div class="circle-tile-description text-faded">Installations delayed </div>
                            <div class="circle-tile-number text-faded ">-</div>
                            <a class="circle-tile-footer"  class="btn btn-info btn-lg">More Info <i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6" onclick="hotPending()">
                    <div class="circle-tile ">
                        <div class="circle-tile-content green-s">
                            <div class="circle-tile-description text-faded">Hot Installations</div>
                            <div class="circle-tile-number text-faded ">{{ hotPending|length }}</div>
                            <a class="circle-tile-footer"  class="btn btn-info btn-lg">More Info <i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6" onclick="onHold()">
                    <div class="circle-tile ">
                        <div class="circle-tile-content gray">
                            <div class="circle-tile-description text-faded">On Hold</div>
                            <div class="circle-tile-number text-faded ">{{ onHold|length }}</div>
                            <a class="circle-tile-footer"  class="btn btn-info btn-lg">More Info <i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6" onclick="pendingToInstall()">
                    <div class="circle-tile ">
                        <div class="circle-tile-content coral">
                            <div class="circle-tile-description text-faded">Pending Install</div>
                            <div class="circle-tile-number text-faded ">{{ pendingToInstall|length }}</div>
                            <a class="circle-tile-footer"  class="btn btn-info btn-lg">More Info <i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            
            </div> 
        </div>  
    </div>

    <div class='container hide' id="missingConfirmation">
        <div class="panel panel-primary "> 
            <div class="panel-heading ">
                <h3 class="panel-title">Missing Confirmation</h3>
            </div>
            <div class="panel-body">
                <center>
                <table id="datatable" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Added as Lead</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for installation in installation %}
                        <tr>
                        <th scope="row">{{ installation.customerName }}</th>
                        <th scope="row">{{ installation.customerPhone }}</th>
                        <th scope="row">{{ installation.addedLead|date("m/d/Y") }}</th>
                        <th scope="row">{{ installation.registerCreated|date("m/d/Y") }}</th>
                        <td>
                            <a href="{{ path("edit_changes_info", {"id": installation.id}) }}" class="btn btn-success">Add Missing Confirmation</a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </center>
            </div>
        </div>
    </div>

    <div class='container hide' id="nullManufacturer">
        <div class="panel panel-default "> 
            <div class="panel-heading panel-heading-orange">
                <h3 class="panel-title">No manufacturer assigned</h3>
            </div>
            <div class="panel-body">
                <center>
                <table id="datatable" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Added as Lead</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for nullManufacturer in nullManufacturer %}
                        <tr>
                        <th scope="row">{{ nullManufacturer.customerName }}</th>
                        <th scope="row">{{ nullManufacturer.customerPhone }}</th>
                        <th scope="row">{{ nullManufacturer.addedLead|date("m/d/Y") }}</th>
                        <th scope="row">{{ nullManufacturer.registerCreated|date("m/d/Y") }}</th>
                        <td>
                            <a href="{{ path("edit_manufacturer_info_dash", {"id": nullManufacturer.id}) }}" class="btn btn-success">Add manufacturer</a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </center>
            </div>
        </div>
    </div>

    <div class='container hide' id="hotPending">
        <div class="panel panel-default "> 
            <div class="panel-heading panel-heading-green">
                <h3 class="panel-title">Hot Pending</h3>
            </div>
            <div class="panel-body">
                <center>
                <table id="datatable" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Added as Lead</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for hotPending in hotPending %}
                        <tr>
                        <th scope="row">{{ hotPending.customerName }}</th>
                        <th scope="row">{{ hotPending.customerPhone }}</th>
                        <th scope="row">{{ hotPending.addedLead|date("m/d/Y") }}</th>
                        <th scope="row">{{ hotPending.registerCreated|date("m/d/Y") }}</th>
                        <td>
                            <a href="{{ path("info_installation", {"id": hotPending.id}) }}" class="btn btn-success">View more information</a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </center>
            </div>
        </div>
    </div>
  
    <div class='container hide' id="siteSpecifics">
        <div class="panel panel-default "> 
            <div class="panel-heading panel-heading-red">
                <h3 class="panel-title">Require Site Specifics</h3>
            </div>
            <div class="panel-body">
                <center>
                <table id="datatable" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Added as Lead</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for siteSpecifics in siteSpecifics %}
                        <tr>
                        <th scope="row">{{ siteSpecifics.customerName }}</th>
                        <th scope="row">{{ siteSpecifics.customerPhone }}</th>
                        <th scope="row">{{ siteSpecifics.addedLead|date("m/d/Y") }}</th>
                        <th scope="row">{{ siteSpecifics.registerCreated|date("m/d/Y") }}</th>
                        <td>
                            <a href="{{ path("info_installation", {"id": siteSpecifics.id}) }}" class="btn btn-success">View more information</a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </center>
            </div>
        </div>
    </div>

    <div class='container hide' id="stpeNoOrdered">
        <div class="panel panel-default"> 
            <div class="panel-heading panel-heading-purple">
                <h3 class="panel-title">Site Specifics Not Ordered</h3>
            </div>
            <div class="panel-body">
                <center>
                <table id="datatable" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Added as Lead</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for stpeNoOrdered in stpeNoOrdered %}
                        <tr>
                        <th scope="row">{{ stpeNoOrdered.customerName }}</th>
                        <th scope="row">{{ stpeNoOrdered.customerPhone }}</th>
                        <th scope="row">{{ stpeNoOrdered.addedLead|date("m/d/Y") }}</th>
                        <th scope="row">{{ stpeNoOrdered.registerCreated|date("m/d/Y") }}</th>
                        <td>
                            <a href="{{ path("info_installation", {"id": stpeNoOrdered.id}) }}" class="btn btn-success">View more information</a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </center>
            </div>
        </div>
    </div>  

    <div class='container hide' id="nullDateInstallation">
        <div class="panel panel-default"> 
            <div class="panel-heading panel-heading-yellow">
                <h3 class="panel-title">Null Installation Date</h3>
            </div>
            <div class="panel-body">
                <center>
                <table id="datatable" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Added as Lead</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for nullDateInstallation in nullDateInstallation %}
                        <tr>
                        <th scope="row">{{ nullDateInstallation.customerName }}</th>
                        <th scope="row">{{ nullDateInstallation.customerPhone }}</th>
                        <th scope="row">{{ nullDateInstallation.addedLead|date("m/d/Y") }}</th>
                        <th scope="row">{{ nullDateInstallation.registerCreated|date("m/d/Y") }}</th>
                        <td>
                            <a href="{{ path("edit_manufacturer_info_dash", {"id": nullDateInstallation.id}) }}" class="btn btn-success">Add Date Info</a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </center>
            </div>
        </div>
    </div>

    <div class='container hide' id="onHold">
        <div class="panel panel-default"> 
            <div class="panel-heading panel-heading-gray">
                <h3 class="panel-title">On Hold</h3>
            </div>
            <div class="panel-body">
                <center>
                <table id="datatable" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Added as Lead</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for onHold in onHold %}
                        <tr>
                        <th scope="row">{{ onHold.customerName }}</th>
                        <th scope="row">{{ onHold.customerPhone }}</th>
                        <th scope="row">{{ onHold.addedLead|date("m/d/Y") }}</th>
                        <th scope="row">{{ onHold.registerCreated|date("m/d/Y") }}</th>
                        <td>
                            <a href="{{ path("info_installation", {"id": onHold.id}) }}" class="btn btn-success">View more information</a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </center>
            </div>
        </div>
    </div> 

    <div class='container hide' id="pendingToInstall">
        <div class="panel panel-default"> 
            <div class="panel-heading panel-heading-coral">
                <h3 class="panel-title">Pending to Install</h3>
            </div>
            <div class="panel-body">
                <center>
                <table id="datatable" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Added as Lead</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pendingToInstall in pendingToInstall %}
                        <tr>
                        <th scope="row">{{ pendingToInstall.customerName }}</th>
                        <th scope="row">{{ pendingToInstall.customerPhone }}</th>
                        <th scope="row">{{ pendingToInstall.addedLead|date("m/d/Y") }}</th>
                        <th scope="row">{{ pendingToInstall.registerCreated|date("m/d/Y") }}</th>
                        <td>
                            <a href="{{ path("info_installation", {"id": pendingToInstall.id}) }}" class="btn btn-success">View more information</a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </center>
            </div>
        </div>
    </div> 

  {% block javascripts %}
  
    <script>
        function nullDateInstallation() {
        var x = document.getElementById("nullDateInstallation");
        var nullManufacturer = document.getElementById("nullManufacturer");
        var stpeNoOrdered = document.getElementById("stpeNoOrdered");
        var hotPending = document.getElementById("hotPending");
        var siteSpecifics = document.getElementById("siteSpecifics");
        var missingConfirmation = document.getElementById("missingConfirmation");
        var onHold = document.getElementById("onHold");
        var pendingToInstall = document.getElementById("pendingToInstall");

        if (x.classList.contains("hide")) {
        x.classList.remove("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        missingConfirmation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        } else {
        x.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        missingConfirmation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        }
    }
        function missingConfirmation() {
        var x = document.getElementById("missingConfirmation");
        var nullManufacturer = document.getElementById("nullManufacturer");
        var stpeNoOrdered = document.getElementById("stpeNoOrdered");
        var hotPending = document.getElementById("hotPending");
        var siteSpecifics = document.getElementById("siteSpecifics");
        var nullDateInstallation = document.getElementById("nullDateInstallation");
        var onHold = document.getElementById("onHold");
        var pendingToInstall = document.getElementById("pendingToInstall");
        if (x.classList.contains("hide")) {
        x.classList.remove("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        } else {
        x.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        }
        console.log("Fuck Checo");
    }
    function nullManufacturer() {
        var x = document.getElementById("nullManufacturer");
        var missingConfirmation = document.getElementById("missingConfirmation");
        var hotPending = document.getElementById("hotPending");
        var siteSpecifics = document.getElementById("siteSpecifics");
        var nullDateInstallation = document.getElementById("nullDateInstallation");
        var onHold = document.getElementById("onHold");
        var pendingToInstall = document.getElementById("pendingToInstall");
        var stpeNoOrdered = document.getElementById("stpeNoOrdered");

        if (x.classList.contains("hide")) {
        x.classList.remove("hide");
        missingConfirmation.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        stpeNoOrdered.classList.add("hide");

        } else {
        x.classList.add("hide");
        missingConfirmation.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        }
    }
    function stpeNoOrdered() {
        var x = document.getElementById("stpeNoOrdered");
        var missingConfirmation = document.getElementById("missingConfirmation");
        var nullManufacturer = document.getElementById("nullManufacturer");
        var hotPending = document.getElementById("hotPending");
        var siteSpecifics = document.getElementById("siteSpecifics");
        var nullDateInstallation = document.getElementById("nullDateInstallation");
        var onHold = document.getElementById("onHold");
        var pendingToInstall = document.getElementById("pendingToInstall");

        if (x.classList.contains("hide")) {
        x.classList.remove("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        } else {
        x.classList.add("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        }
    }
    function hotPending() {
        var x = document.getElementById("hotPending");
        var missingConfirmation = document.getElementById("missingConfirmation");
        var nullManufacturer = document.getElementById("nullManufacturer");
        var stpeNoOrdered = document.getElementById("stpeNoOrdered");
        var siteSpecifics = document.getElementById("siteSpecifics");
        var nullDateInstallation = document.getElementById("nullDateInstallation");
        var onHold = document.getElementById("onHold");
        var pendingToInstall = document.getElementById("pendingToInstall");

        if (x.classList.contains("hide")) {
        x.classList.remove("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        } else {
        x.classList.add("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        }
    }
    function siteSpecifics() {
        var x = document.getElementById("siteSpecifics");
        var missingConfirmation = document.getElementById("missingConfirmation");
        var nullManufacturer = document.getElementById("nullManufacturer");
        var stpeNoOrdered = document.getElementById("stpeNoOrdered");
        var hotPending = document.getElementById("hotPending");
        var nullDateInstallation = document.getElementById("nullDateInstallation");
        var onHold = document.getElementById("onHold");
        var pendingToInstall = document.getElementById("pendingToInstall");
        if (x.classList.contains("hide")) {
        x.classList.remove("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        } else {
        x.classList.add("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        pendingToInstall.classList.add("hide");
        }
    }
    function onHold() {
        var x = document.getElementById("onHold");
        var missingConfirmation = document.getElementById("missingConfirmation");
        var nullManufacturer = document.getElementById("nullManufacturer");
        var stpeNoOrdered = document.getElementById("stpeNoOrdered");
        var hotPending = document.getElementById("hotPending");
        var siteSpecifics = document.getElementById("siteSpecifics");
        var nullDateInstallation = document.getElementById("nullDateInstallation");
        var pendingToInstall = document.getElementById("pendingToInstall");
        if (x.classList.contains("hide")) {
        x.classList.remove("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        pendingToInstall.classList.add("hide");
        } else {
        x.classList.add("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        pendingToInstall.classList.add("hide");
        }

    }

    function pendingToInstall() {
        var x = document.getElementById("pendingToInstall");
        var missingConfirmation = document.getElementById("missingConfirmation");
        var nullManufacturer = document.getElementById("nullManufacturer");
        var stpeNoOrdered = document.getElementById("stpeNoOrdered");
        var hotPending = document.getElementById("hotPending");
        var siteSpecifics = document.getElementById("siteSpecifics");
        var nullDateInstallation = document.getElementById("nullDateInstallation");
        var onHold = document.getElementById("onHold");

        if (x.classList.contains("hide")) {
        x.classList.remove("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        } else {
        x.classList.add("hide");
        missingConfirmation.classList.add("hide");
        nullManufacturer.classList.add("hide");
        stpeNoOrdered.classList.add("hide");
        hotPending.classList.add("hide");
        siteSpecifics.classList.add("hide");
        nullDateInstallation.classList.add("hide");
        onHold.classList.add("hide");
        }
    }
    </script>
  {% endblock %}
{% endblock %}